body {
  font: 110%/1.5 "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  color: #706C66;
  padding: 20px;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #f46353;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 100;
  color: #3dbe7a;
}
